<header>
  <nav class="navbar navbar-custom">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <span class="navbar-brand navbar-brand-custom mx-auto">
        <%= typeof navBrand !== 'undefined' ? navBrand : 'FIFA Quiz' %>
      </span>
      <div class="dropdown">
        <button
          class="btn btn-link user-icon-btn dropdown-toggle"
          type="button"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li>
            <a
              class="dropdown-item"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#profileModal"
            >Profiel</a>
          </li>
          <li><a class="dropdown-item" href="/Quiz-Page">Game Pagina</a></li>
          <li><a class="dropdown-item" href="/favorieten">Favoriete Clubs</a></li>
          <li><a class="dropdown-item" href="/favorieteleagues">Favoriete League</a></li>
          <li><a class="dropdown-item" href="/blacklistedPage">Blacklisted Clubs</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <form action="/logout" method="POST" class="d-inline">
              <button type="submit" class="dropdown-item">Uitloggen</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div
  class="modal fade"
  id="profileModal"
  tabindex="-1"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Profielgegevens</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Sluiten"
        ></button>
      </div>
      <div class="modal-body">
        <form id="profileForm" action="/profile" method="POST">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="profileUsername" class="form-label">Gebruikersnaam:</label>
                <input
                  name="username"
                  type="text"
                  class="form-control"
                  id="profileUsername"
                  value="<%= user ? user.username : '' %>"
                  readonly
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="profileEmail" class="form-label">Email:</label>
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  id="profileEmail"
                  value="<%= user ? user.email : '' %>"
                  readonly
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="profilePassword" class="form-label">Wachtwoord:</label>
                <input
                  type="password"
                  class="form-control"
                  id="profilePassword"
                  value="<%= maskedPassword %>"
                  readonly
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="profileHighscore" class="form-label">Highscore:</label>
                <input
                  type="text"
                  class="form-control"
                  id="profileHighscore"
                  value="<%= user ? (user.highscore || 0) : 0 %>"
                  readonly
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="editProfileBtn" type="button" class="btn btn-secondary">Bewerken</button>
        <button id="cancelProfileBtn" type="button" class="btn btn-danger" style="display: none;">
          Annuleren
        </button>
        <button id="saveProfileBtn" type="button" class="btn" style="display: none;">Opslaan</button>
      </div>
    </div>
  </div>
</div>