<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="css/favorieten.css" />
  <link rel="stylesheet" href="/css/profileModal.css" />
  <title>Favorieten</title>
</head>

<body>
  <% if (isLoggedIn) { %>
    <%- include('partials/profileModal') %>
  <% } %>
  <div class="container mt-5">
    
    <div class="mb-3">
      <input type="text" id="clubNameInput" class="form-control" placeholder="Zoek club op naam..." />
      <ul id="searchResults" class="list-group mt-2"></ul>
    </div>
    <% if (clubs.length===0) { %>
      <p class="no-favorite-msg">Je hebt nog geen favoriete clubs.</p>
      <% } %>


        <div class="list-group" id="clubList">
          <% clubs.forEach(club=> { %>
            <div class="list-group-item">
              <img src="<%= club.crest %>" alt="<%= club.name %>" />
              <span class="club-name">
                <%= club.name %>
              </span>
              <div class="form-group d-inline ms-3">
                <div>Aantal keer LIVE gezien: <span id="count-<%= club.id %>">
                    <%= club.seen %>
                  </span></div>
                <button class="btn btn-secondary" onclick="incrementCount('<%= club.id %>')">Gezien</button>
                <form action="/api/favorites/delete/<%= club.id %>" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Verwijder</button>
                </form>

              </div>
              <a href="/favorieten/club/<%= club.id %>" class="btn btn-dark open-club">OPEN</a>
            </div>
            <% }) %>
        </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/favorieten.js"></script>
  <script src="js/incrementCount.js"></script>
  <script src="/js/profileModal.js"></script>
</body>

</html>